.searchbox {
    background: rgb(255,255,255);
    background: linear-gradient(to bottom right, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.03) 100%);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.1);
}